header{
 
    color: rgb(57,255,180);
    background-color: black;
    text-align: left;
    position: fixed;

    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-left: 50px;
    padding-right: 10px;
    width: 1700px;  
    height: 50px;

}
header.p{
    text-align: center;
    background-color: black;
}
header h1{
    margin: 0;
    font-size: 20px;
    
}
.main{
    text-align: center;
    padding-bottom: 100px;
    font-size: 40px;
    color: white;
}
.main h1{
    font-size: 80px;
    color:rgb(57,255,180) ;
}
.neon{
    text-shadow: 0 0 5px rgb(57,255,180),
                 0 0 10px rgb(57,255,180),
                 0 0 15px rgb(57,255,180),
                 0 0 25px rgb(57,255,180);
}

.left {
      flex: 1;
      font-size: 24px;
      font-weight: bold;
    }

 .center {
      flex: 2;
      text-align: center;
      font-size: 18px;
    }

section{
    height: 150vh;
    border: 1px solid  rgb(19, 1, 41);
    
}
section p{
    color: aliceblue;
    text-align: center;
    font-size: 30px;
}
section h1{
    font-size: 60px;
    text-align: center;
    font-style:calc(solid);
}
.button{
    border-radius: 10px;
    width: 250px;
    height: 35px;
    text-align: center;
    padding: 0%;
    background-color: rgb(1, 1, 28);
    color: aquamarine;

    cursor: pointer;
}
.button:hover{
    background-color: navy;
}
h3{
    text-align: left;
}
label{
    text-align: right;
    
}
input{
    text-align: right;
    
}
body{
    background-color: rgb(1, 26, 1);
    color: rgb(57,255,180);
}


.overview{
    border: 1px solid palevioletred;
    background-color: black;
    color: aliceblue;
    padding-bottom: 10px;
    box-shadow: 0 0 20px palevioletred;
    
}
.overview h1{
    text-align: left;
    font-size: 25px;
}   
.commands{
    border: 1px solid palevioletred;
    background-color: black;
    color: aliceblue;
    padding-bottom: 10px;
    box-shadow: 0 0 20px palevioletred;
}
.commands h1{
    text-align: left;
    font-size: 25px;
    padding-top: 10px;
    margin-top: 20px;
}  
.aub{
    border: 2px solid palevioletred;
    background-color: black;
    color: aliceblue;
    padding-bottom: 0px;
    margin-left: 130px;
    margin-right: 130px;
    font-size: 15px;
    box-shadow: 0 0 20px palevioletred;
    
}
.aub h1{
    text-align: left;
    font-size: 25px;
}  

.n h1{
    color: palevioletred;

}
.n li::marker {
    color: palevioletred;
    font-weight: bold;
  }
.neonn{
    text-shadow: 0 0 5px palevioletred,
                 0 0 10px palevioletred,
                 0 0 15px palevioletred,
                 0 0 20px palevioletred;
}
.commonbox{
    border: 0.1px solid palevioletred;
    border-radius: 10px;
    width: 400px;
    padding: 7px;
    margin: 10px;
}




.overview1{
    border: 1px solid aqua;
    background-color: black;
    color: aliceblue;
    padding-bottom: 10px;
    box-shadow: 0 0 20px aqua;
    
}
.overview1 h1{
    text-align: left;
    font-size: 25px;
}
.commands1{
    border: 1px solid aqua;
    background-color: black;
    color: aliceblue;
    padding-bottom: 10px;
    box-shadow: 0 0 20px aqua;
}
.commands1 h1{
    text-align: left;
    font-size: 25px;
    padding-top: 10px;
    margin-top: 20px;
}
.aub1{
    border: 2px solid aqua;
    background-color: black;
    color: aliceblue;
    padding-bottom: 0px;
    margin-left: 130px;
    margin-right: 130px;
    font-size: 15px;
    box-shadow: 0 0 20px aqua;
    
}
.aub1 h1{
    text-align: left;
    font-size: 25px;
}        

.w h1{
    color: aqua;
}
.w li::marker {
    color: aqua;
    font-weight: bold;
  }
.neon1{
    text-shadow: 0 0 5px aqua,
                 0 0 10px aqua,
                 0 0 15px aqua,
                 0 0 20px aqua;
}
.commonbox1{
    border: 0.1px solid aqua;
    border-radius: 10px;
    width: 500px;
    padding: 10px;
    margin: 20px;
}





.overview2{
    border: 1px solid  rgb(114, 37, 185);
    background-color: black;
    color: aliceblue;
    padding-bottom: 10px;
    box-shadow: 0 0 20px  rgb(114, 37, 185);
    
}
.overview2 h1{
    text-align: left;
    font-size: 25px;
    color:  rgb(114, 37, 185);
}
.commands2{
    border: 1px solid  rgb(114, 37, 185);
    background-color: black;
    color: aliceblue;
    padding-bottom: 10px;
    box-shadow: 0 0 20px  rgb(114, 37, 185);
}
.commands2 h1{
    color:  rgb(114, 37, 185);
    text-align: left;
    font-size: 25px;
    padding-top: 10px;
    margin-top: 20px;
}
.aub2{
    border: 2px solid  rgb(114, 37, 185);
    background-color: black;
    color: aliceblue;
    padding-bottom: 0px;
    margin-left: 130px;
    margin-right: 130px;
    font-size: 15px;
    box-shadow: 0 0 20px  rgb(114, 37, 185);
    
}
.aub2 h1{
    text-align: left;
    font-size: 25px;
}        

.b h1{
    color:  rgb(114, 37, 185);
}
.b li::marker {
    color:  rgb(114, 37, 185);
    font-weight: bold;
  }
.neon2{
    text-shadow: 0 0 5px  rgb(114, 37, 185),
                 0 0 10px  rgb(114, 37, 185),
                 0 0 15px  rgb(114, 37, 185),
                 0 0 20px  rgb(114, 37, 185);
}
.commonbox2{
    border: 0.1px solid  rgb(114, 37, 185);
    border-radius: 10px;
    width: 500px;
    padding: 10px;
    margin: 20px;
}




.overview3{
    border: 1px solid  rgb(47, 186, 47);
    background-color: black;
    color: aliceblue;
    padding-bottom: 10px;
    box-shadow: 0 0 20px  rgb(47, 186, 47);
    
}
.overview3 h1{
    text-align: left;
    font-size: 25px;
    color:  rgb(47, 186, 47);
}
.commands3{
    border: 1px solid  rgb(47, 186, 47);
    background-color: black;
    color: aliceblue;
    padding-bottom: 10px;
    box-shadow: 0 0 20px rgb(47, 186, 47);
}
.commands3 h1{
    color:  rgb(47, 186, 47);
    text-align: left;
    font-size: 25px;
    padding-top: 10px;
    margin-top: 20px;
}
.aub3{
    border: 2px solid  rgb(47, 186, 47);
    background-color: black;
    color: aliceblue;
    padding-bottom: 0px;
    margin-left: 130px;
    margin-right: 130px;
    font-size: 15px;
    box-shadow: 0 0 20px  rgb(47, 186, 47);
    
}
.aub3 h1{
    text-align: left;
    font-size: 25px;
}        

.m h1{
    color: rgb(47, 186, 47);
}
.m li::marker {
    color:  rgb(47, 186, 47);
    font-weight: bold;
  }
.neon3{
    text-shadow: 0 0 5px  rgb(47, 186, 47),
                 0 0 10px  rgb(47, 186, 47),
                 0 0 15px  rgb(47, 186, 47),
                 0 0 20px rgb(47, 186, 47);
}
.commonbox3{
    border: 0.1px solid rgb(47, 186, 47);
    border-radius: 10px;
    width: 500px;
    padding: 10px;
    margin: 20px;
}




.container {
  display: flex; 
  justify-content: space-around; 
  align-items: flex-start; 
}

.box {
 
  padding: 15px;
  margin: 10px;
  flex: 1; 
  
}

.left-box {
    font-size: 25px;
    padding-left: 10%;

}
.right-box {
  font-size: 25px;
    padding-right: 10%;
   
    
} 
 

 .dropdown-container {
      width: 800px;
      margin: 20px;
      font-size: 20px;
      text-align: center;
      color: palevioletred;
    }

    input[type="checkbox"] {
      display: none;
    }

    label {
      display: block;
      background-color: #2d2d2d;
      color:palevioletred;
      padding: 10px;
      cursor: pointer;
      border-radius: 5px;
    }

    .dropdown-content {
      background-color: rgb(14, 12, 13);
      padding: 10px;
      border-radius: 5px;
      display: none;
      margin-top: 5px;
      font-size: 10px;
      text-align: left;

    }

    input[type="checkbox"]:checked ~ .dropdown-content {
      display: block;
    }
    .dropdown-content p{
        font-size: 20px;
        text-align: left;
    }
    .dropdown-container label{
        text-align: left;
        color: white;
    }   
    
    footer{
        background-color: black;
        font-size: 20px;
        font-family:'Lucida Sans' ;
        color: antiquewhite;


    }
    footer :hover{
        color: green;
    }
    footer h1{
        color: rgb(219, 41, 41);
        text-align: left;
        padding: 0;
    }
    footer h2{
        text-align: center;
        color: rgb(219, 41, 41);
    }
























    #aiButton {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: green;
    color: white;
    border: none;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    font-size: 24px;
    cursor: pointer;
    z-index: 9999;
}

#aiChatPopup {
    position: fixed;
    bottom: 80px;
    right: 20px;
    width: 300px;
    background-color: black;
    border: 2px solid green;
    padding: 10px;
    border-radius: 10px;
    z-index: 9999;
}

#aiChatPopup input {
    width: 80%;
    padding: 5px;
    margin-bottom: 5px;
}

#aiChatPopup p {
    font-size: 14px;
    color: lightgreen;
}

    
    